a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

li {
	list-style: none;
}

.color-1 {
	color: green;
}

.color-2 {
	color: blue;
}

.color-3 {
	color: #fff;
}

.box-right {
	border: 1px solid  #ccccb3;
}

.box-right-header {
	background-color: blue;
}

.bg-1 {
	background-color: green;
}

.bg-2 {
	background-color: #b30000;
}
	
.menu-left {
	border: 1px solid #0066cc;
	background-color:  #e6f2ff;
	border-radius: 10px;
	box-shadow: 1px 2px 1px grey;
	color: #000;
	font-weight: 400;
}

.menu-left a {
	color: #000;
	font-weight: 500;
}